@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff')
}
