html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}

body * {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
